
.cookies_container{
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

.cookies_titulo{
    text-align: center;
    margin-bottom: 50px;
}

.cookies_subtitulo{
    font-weight: 700;
}


.cookies_parrafo{
    width: 100%;
    text-align: justify;
}

.cookies_enlaces{
    text-align: left;
}

.cookies_enlaces a{
    color: var(--black);
}

.cookies_enlaces a:hover{
    color: var(--light-green);
}